body{
	font-family: century gothic;
	text-align: center;
}
.logo{
	height: 300px;
	margin-top: 150px;
}

.back1{
	background-image: url(back1.jpg);
	background-size: 100%;
	height: 720px;
	opacity: 0.8;
	text-align: center;
}
.df{
	display: flex;
	margin-top: 50px;
}
.plogo{
	color: #465f8c;
	font-size: 130%;
	font-weight: bold;
}
.backny{
	background-color: #efcbb8;
	height: 1300px;
	
}
.backm{
    background-color: #ba9c8b;
    height: 1300px;
}
.backw{
	background-color: #efcdc4;
    height: 1300px;
}
.backd{
	background-color: #fcdea1;
    height: 700px;
}
.img{
	width: 350px;
	height: 350px;
}
.div1{
	width: 350px;
	height: 500px;
	background-image: url(miniback.jpg);
	margin-left: 130px;
}
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
  }
   .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #d3b6ab, #755f57); /* Градиент */
    color: #a00;
   }
.div2{
	width: 350px;
	height: 500px;
	background-color: white ;
	margin-left: 130px;
}   
.div3{
	width: 350px;
	height: 500px;
	background-image: url(flower.jpg);
	margin-left: 130px;
}   
.link{
    text-decoration: none;
    color: white;
    margin-left:  50px
}